node_modules
.env
data/
.wwebjs_cache/
# Docker
docker-compose.override.yml
*.log
*.pid
*.seed
*.tar
*.gz

# TypeScript
dist/
*.tsbuildinfo

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Fastify
.fastify.log

# OS-specific
.DS_Store
Thumbs.db
